experemental/
.vscode/

bare-metal/gandalf/containers/active/chia/chia/container/
bare-metal/gandalf/containers/active/chia/chia/settings-secret.sh

containers/arm64/plex/plex/settings-secret.sh
containers/arm64/dkron/tools/populator/
containers/arm64/healthchecks/tools/populator/
containers/arm64/homeassistant/homeassistant/container/config/secrets.yaml

scripts/utilities/dkron/backup/yandex/settings-secret.sh
